@charset "utf-8";

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
button {
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
}

.none {
  display: none;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.clear {
  clear: both;
}

.hide {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -200px;
  left: -200px;
  clip: rect(0, 0, 0, 0);
}

:root {
  --text-color: #757575;
  --main-color: #00c73c;
}
